Source: gaeul
Priority: optional
Maintainer: Jeongseok Kim <jeongseok.kim@sk.com>
Build-Depends: debhelper (>= 10~),
  meson,
  pkg-config,
  libglib2.0-dev,
  libjson-glib-dev,
  libgaeguli-dev (>= 0.10.2~),
  libssl-dev,
  libsrt-dev,
  libgstreamer1.0-dev,
  libgstreamer-plugins-bad1.0-dev  
Standards-Version: 4.2.1
Section: libs
Homepage: https://github.com/hwangsaeul/gaeul
Vcs-Browser: https://github.com/hwangsaeul/gaeul
Vcs-Git: https://github.com/hwangsaeul/gaeul.git

Package: libgaeul2
Architecture: any
Depends:
  gstreamer1.0-plugins-good, gstreamer1.0-plugins-bad, gstreamer1.0-plugins-ugly,
  libgaeguli1 (>= 0.10.2~),
  ${shlibs:Depends}, ${misc:Depends}
Description:  SRT Streaming Application library
 Gaeul is a reference application that handles SRT stream.

Package: gaeul2-source-agent
Architecture: any
Depends: libgaeul2 (= ${binary:Version}), acl, adduser,
  ${shlibs:Depends}, ${misc:Depends}
Description: A Reference Application for SRT Edge
 Gaeul2 Source Agent is a reference application that runs on edge
 to stream via SRT.
