Source: gaeul
Priority: optional
Maintainer: Jeongseok Kim <jeongseok.kim@sk.com>
Build-Depends: debhelper (>= 10~),
  meson,
  pkg-config,
  libglib2.0-dev,
  libjson-glib-dev,
  libchamge-dev,
  libgaeguli-dev,
  libssl-dev,
  librabbitmq-dev,
  libsrt-dev,
  libgstreamer1.0-dev,
  libgstreamer-plugins-bad1.0-dev  
Standards-Version: 4.2.1
Section: libs
Homepage: https://github.com/hwangsaeul/gaeul
Vcs-Browser: https://github.com/hwangsaeul/gaeul
Vcs-Git: https://github.com/hwangsaeul/gaeul.git

Package: gaeul
Architecture: any
Depends: acl, adduser, ${shlibs:Depends}, ${misc:Depends}
Description: A Reference Application for SRT Edge
 Gaeul is a reference application that runs on edge to stream via SRT.
