[Unit]
Description=Media Transcoder of H8L

[Service]
Type=simple
EnvironmentFile=-/etc/default/gaeul2-mjpeg-agent
User=gaeul
ExecStart=/usr/bin/gaeul2-mjpeg-agent $OPTIONS
Restart=on-failure

[Install]
WantedBy=multi-user.target
