[Unit]
Description=Media streamer of H8L

[Service]
Type=simple
EnvironmentFile=-/etc/default/gaeul2-source-agent
User=gaeul
ExecStart=/usr/bin/gaeul2-source-agent $OPTIONS
Restart=on-failure

[Install]
WantedBy=multi-user.target
